<html lang="en">

{% include 'aisle/base_head.html' %}


    {% load static %}
    <body>
    {%  include 'aisle/base_navBar.html' %}

            <div id="content">
            <div class="column1">
                  <ul class="meals-showcase clearfix">
                      <li>
                          <figure class="background">
                              <img src="{% static 'resources/img/back-customers-min.jpg' %}" alt="Famers Market">
                          </figure>
                      </li>
            </div>

            </div>
    <section class="aisle">
            <div class="container">
            <div class="row text-center">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="thumbnail"> <img src="{% static 'images/400X200.gif' %}" alt="Thumbnail Image 1" class="img-responsive">
            <div class="caption">
              <h3>Product</h3>
              <p>description</p>
              <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
          <div class="thumbnail"> <img src="{% static 'images/400X200.gif' %}" alt="Thumbnail Image 1" class="img-responsive">
            <div class="caption">
              <h3>Product</h3>
              <p>description</p>
              <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a> </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
          <div class="thumbnail"> <img src="{% static 'images/400X200.gif' %}" alt="Thumbnail Image 1" class="img-responsive">
            <div class="caption">
              <h3>Product</h3>
              <p>description</p>
              <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a> </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 hidden-lg hidden-md hidden-sm">
          <div class="thumbnail"> <img src="{% static 'images/400X200.gif' %}" alt="Thumbnail Image 1" class="img-responsive">
            <div class="caption">
              <h3>Product</h3>
              <p>description</p>
              <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center hidden-xs">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="thumbnail"> <img src="{% static 'images/400X200.gif' %}" alt="Thumbnail Image 1" class="img-responsive">
            <div class="caption">
              <h3>Product</h3>
              <p>description</p>
              <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a> </p>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="thumbnail"> <img src="{% static 'images/400X200.gif' %}" alt="Thumbnail Image 1" class="img-responsive">
            <div class="caption">
              <h3>Product</h3>
              <p>description</p>
              <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a> </p>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="thumbnail"> <img src="{% static 'images/400X200.gif' %}" alt="Thumbnail Image 1" class="img-responsive">
            <div class="caption">
              <h3>Product</h3>
              <p>description
              </p>
              <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a> </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    </body>
    {%  include 'aisle/base_footer.html' %}
</html>

