<!DOCTYPE html>
<html lang="en">


{% load static %}
<style>

.dropdown
{
	float:left;
}
.dropdown .dropbtn
{
    border: none;
    outline: none;
    color: #ffffff;
    padding:5px 25px 10px 25px;
    background-color: #0055a2;
    width: 220px;
}
.dropdown:hover .dropbtn
{
    background-color: #7f7a7a;
	color:#ffffff;
}


.dropdown:hover
{
    display: block;
}

</style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Omnifood is a premium food delivery service with the mission to bring affordable and healty meals to as many people as possible.">

 <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/normalize.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/grid.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/ionicons.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/animate.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'resources/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'resources/css/queries.css' %}">
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
        <title>WaySafe</title>

        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'resources/favicons/apple-touch-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'resources/favicons/apple-touch-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'resources/favicons/apple-touch-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'resources/favicons/apple-touch-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'resources/favicons/apple-touch-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'resources/favicons/apple-touch-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'resources/favicons/apple-touch-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'resources/favicons/apple-touch-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'resources/favicons/apple-touch-icon-180x180.png' %}">
        <link rel="icon" type="image/png" href="{% static 'resources/favicons/favicon-32x32.png' %}" sizes="32x32">
        <link rel="icon" type="image/png" href="{% static 'resources/favicons/favicon-194x194.png' %}" sizes="194x194">
        <link rel="icon" type="image/png" href="{% static 'resources/favicons/favicon-96x96.png' %}" sizes="96x96">
        <link rel="icon" type="image/png" href="{% static 'resources/favicons/android-chrome-192x192.png' %}" sizes="192x192">
        <link rel="icon" type="image/png" href="{% static 'resources/favicons/favicon-16x16.png' %}" sizes="16x16">
        <link rel="manifest" href="{% static 'resources/favicons/manifest.json' %}">
        <link rel="shortcut icon" href="{% static 'resources/favicons/favicon.ico' %}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="{% static 'resources/favicons/mstile-144x144.png' %}">
        <meta name="msapplication-config" content="{% static 'resources/favicons/browserconfig.xml' %}">
        <meta name="theme-color" content="#ffffff">

</head>
{% block body %}
<body>


{% include 'aisle/base_navBar.html' %}



        <section class="food-dept">
              <div class="container_12 clearfix" style="margin-center: 80px">
                 <div  style="width:260px; max-width: 100%; height: 300px; float: left; margin: 10px; text-align: center; padding: 10px ">
                    <img class="card-img-top" src="{% static 'resources/img/baby_care.jpg' %}" alt="Card image cap" style="height: 200px; width:270px">

                            <div class="caption"><a href="babycare">

                    <div class="dropdown"> <button class="dropbtn">BABY CARE</button></div></a>
		</div>
                </div>
                <div style="width:260px; max-width: 100%; height: 300px; float: left; margin: 10px; text-align: center; padding: 10px ">
                    <img class="card-img-top" src="{% static 'resources/img/beverages.jpg' %}" alt="Card image cap" style="height: 200px; width:270px">
                        <div class="caption"><a href="beverages">

                    <div class="dropdown"> <button class="dropbtn">BEVERAGES</button></div></a>
		</div>
                 </div>
                <div style="width: 260px; max-width: 100%; height: 300px; float:left; margin: 10px; text-align: center; padding: 10px;">
                    <img class="card-img-top" src="{% static 'resources/img/filet.jpg' %}" alt="Card img cap" style="height: 200px; width:270px">
                        <div class="caption"><a href="meat_subcategory">

                    <div class="dropdown"> <button class="dropbtn">MEATS</button></div></a>
		</div>
                 </div>
                    <div style="width:260px; max-width: 100%;height: 300px; float: left; margin: 10px; text-align: center; padding: 10px">
                    <img class="card-img-top" src="{% static 'resources/img/frozen.jpg' %}" alt="Card image cap" style="height: 200px; width:270px">
                        <div class="caption"><a href="frozen_subcategory">

                    <div class="dropdown"> <button class="dropbtn">FROZEN</button></div></a>
		</div>
                </div>
                       <div style="width:260px; max-width:100%;float: left; margin: 10px; text-align: center; padding: 10px ">
                    <img class="card-img-top" src="{% static 'resources/img/pasta.jpg' %}" alt="Card image cap"  style="height: 200px; width:270px">
                        <div class="caption"><a href="pasta_and_grains_subcategory">

                    <div class="dropdown"> <button class="dropbtn">PASTA & GRAINS</button></div></a>
		</div>
                 </div>
                       <div style="width: 260px; max-width:100%; height: auto; float:left; margin: 10px; text-align: center; padding: 10px;">
                    <img class="card-img-top" src="{% static 'resources/img/bevmo.jpg' %}" alt="Card img cap"  style="height: 200px; width:270px">
                        <div class="caption"><a href="dairy_subcategory">

                    <div class="dropdown"> <button class="dropbtn">DAIRY</button></div></a>
		</div>
                 </div>
        </div>

        </section>

{% include 'aisle/base_footer.html' %}


</body>
{% endblock %}

</html>

