
*.pyc
*.txt
*.po
*.mo
*.js
*.html
*.py
*.svg
*.css
*.py-tpl
waysafe/Django.egg-info/not-zip-safe
waysafe/Django.egg-info/PKG-INFO
*.md
waysafe/django/contrib/admin/static/admin/fonts/Roboto-Light-webfont.woff
*.woff
*.gz
*.kml
waysafe/django/contrib/admin/static/admin/img/LICENSE
waysafe/django/contrib/gis/gdal/LICENSE
waysafe/django/contrib/gis/geos/LICENSE
*.xml
