<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>

<style>
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;

.help{
  font-size: 12px;
}

</style>
<!-- Bootstrap -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Omnifood is a premium food delivery service with the mission to bring affordable and healty meals to as many people as possible.">



        <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/normalize.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/grid.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/ionicons.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/animate.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'resources/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'resources/css/queries.css' %}">
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
        <title>WaySafe</title>

        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'resources/favicons/apple-touch-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'resources/favicons/apple-touch-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'resources/favicons/apple-touch-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'resources/favicons/apple-touch-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'resources/favicons/apple-touch-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'resources/favicons/apple-touch-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'resources/favicons/apple-touch-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'resources/favicons/apple-touch-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'resources/favicons/apple-touch-icon-180x180.png' %}">
        <link rel="icon" type="image/png" href="{% static 'resources/favicons/favicon-32x32.png' %}" sizes="32x32">
        <link rel="icon" type="image/png" href="{% static 'resources/favicons/favicon-194x194.png' %}" sizes="194x194">
        <link rel="icon" type="image/png" href="{% static 'resources/favicons/favicon-96x96.png' %}" sizes="96x96">
        <link rel="icon" type="image/png" href="{% static 'resources/favicons/android-chrome-192x192.png' %}" sizes="192x192">
        <link rel="icon" type="image/png" href="{% static 'resources/favicons/favicon-16x16.png' %}" sizes="16x16">
        <link rel="manifest" href="{% static 'resources/favicons/manifest.json' %}">
        <link rel="shortcut icon" href="{% static 'resources/favicons/favicon.ico' %}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="{% static 'resources/favicons/mstile-144x144.png' %}">
        <meta name="msapplication-config" content="{% static 'resources/favicons/browserconfig.xml' %}">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
{% block body %}


<body>

{%  include 'index/base_navBar.html' %}

<section class="section-intro ">
    <ul class="meals-showcase clearfix"></ul>
    <li>

    </li>
    <div class="hero-text-box">
        <h1 style = "color:#ffffff">Goodbye junk food.<br>Hello super healthy meals.</h1><br><br>
        <center> <a class="btn btn-full js--scroll-to-plans" href="login.html">Log In</a>||
        <a class="btn btn-full js--scroll-to-plans" href="/aisle">Guest</a> </center>
    </div>
</section>



<section class="section-form ">
    <div class="row">
        <h2>Leave Us A Review</h2>
    </div>
    <div class="row">
        <form method="post" action="#" class="contact-form">
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="name">Name</label>
                </div>
                <div class="col span-2-of-3">
                    <input style = "width:100%" type="text" name="name" id="name" placeholder="Your name" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="email">Email</label>
                </div>
                <div class="col span-2-of-3">
                    <input style = "width:100%" type="email" name="email" id="email" placeholder="Your email" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="find-us">Rating</label>
                </div>
                <div class="col span-2-of-3">
                    <select name="find-us" id="find-us">
                        <option value="empty" selected></option>
                        <option value="5" selected>5</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col span-1-of-3">
                    <label>Drop us a line</label>
                </div>
                <div class="col span-2-of-3">
                    <textarea style = "width:100%" name="message" placeholder="Your message"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label>&nbsp;</label>
                </div>
                <div class="col span-2-of-3">

                    <!--<a class="btn btn-full js&#45;&#45;scroll-to-plans" href="/index">Send it</a>-->
                    <button id="myBtn" type="button">Send It!</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Successfully submitted! </p>
  </div>
</div>

                </div>
            </div>

        </form>

    </div>

</section>

<section class="section-meals">
    <ul class="meals-showcase clearfix">
        <li>
            <figure class="meal-photo">
                <img src="{% static 'images/1.jpg' %}" alt="Korean bibimbap with egg and vegetables">
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="{% static 'images/2.jpg' %}" alt="Simple italian pizza with cherry tomatoes">
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="{% static 'images/3.jpg' %}" alt="Chicken breast steak with vegetables">
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="{% static 'images/4.jpg' %}" alt="Autumn pumpkin soup">
            </figure>
        </li>
    </ul>
    <ul class="meals-showcase clearfix">
        <li>
            <figure class="meal-photo">
                <img src="{% static 'images/5.jpg' %}" alt="Paleo beef steak with vegetables">
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="{% static 'images/6.jpg' %}" alt="Healthy baguette with egg and vegetables">
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="{% static 'images/7.jpg' %}" alt="Burger with cheddar and bacon">
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="{% static 'images/8.jpg' %}" alt="Granola with cherries and strawberries">
            </figure>
        </li>
    </ul>
</section>

<section class="section-features js--section-features " id="features">
    <div class="row">
        <h2>About us</h2>
        <p class="long-copy">
            Hello, we're WaySafe, your new premium online food shopping service. WaySafe serves as a system for both customers and grocery store owners. We are committed to provide the finest natural ingredients in the market. Our mission is to ensure that you are satisfy we your experience in our stores and online services. Our company is small but our innovation  promotes this company to grow fast and compete our other stores. Our services beat all the leading competitors. We are thankful to be your new premium online food shooping service. We know you're always busy. No time for running to the store. So let us take care of that!We know you will love our stores!
        </p>

    <iframe width="600" height="450" align="right" frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDvFx2SEGpgkb5byYyw6SvefISb0_rWZx8
    &q=Safeway" allowfullscreen>
</iframe></div>


</section>


<section class="section-testimonials ">
    <div class="row">
        <h2>Our customers can't live without us</h2>
    </div>
    <div class="row">
        <div class="col span-1-of-3">
            <blockquote>
                WaySafe is just awesome! All this work in the afterlife gives me no time for grocery shopping, so WaySafe is a life-saver. Now that I got used to it, I couldn't live without it!
                <cite>Rating: 5</cite>
                <cite><a href="https://gifimage.net/wp-content/uploads/2017/08/michael-jackson-gif-11.gif"><img src="{% static 'images/mj.jpg' %}" alt="Customer 1 photo"></a>Michael Jackson</cite>
            </blockquote>
        </div>
        <div class="col span-1-of-3">
            <blockquote>
                 Inexpensive, healthy and great-tasting meals, delivered right to my home. We have lots of food delivery here in Amazon, but no one comes even close to WaySafe.
                <cite>Rating: 5</cite>
                <cite><a href="https://i.pinimg.com/originals/ba/bf/81/babf81805e40c117fd4653889df66f0d.jpg"> <img src="{% static 'images/ww.png' %}" alt="Customer 2 photo"></a>Wonder Woman</cite>
            </blockquote>
        </div>
        <div class="col span-1-of-3">
            <blockquote>
                 This website is amazing. Nothing like I ever seen before. I seen a lot of websites, a lot of them, nothing like WaySafe. Incredible. Just Incredible. Trust me I have a high I.Q.
                <cite>Rating: 4</cite>
                <cite><a href="https://i.pinimg.com/736x/17/09/f0/1709f076a9aa256af6b425001f43974f--pink-floyd-wall-funny-memes.jpg"><img src="{% static 'images/dt.jpg' %}" alt="Customer 3 photo"></a>Donald Trump </cite>
            </blockquote>
        </div>
    </div>
</section>

{%  include 'index/base_footer.html' %}

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>



</body>

{% endblock %}
</html>


