<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>NavBar</title>


<!-- Bootstrap -->
    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

{#    <link rel="stylesheet" href="{%  static 'waysafe/css/bootstrap.css' %}">#}
{#    <link rel="stylesheet" href="C:\Users\Tyler\PycharmProjects\WaySafe\waysafe\static\waysafe\css\bootstrap.css'">#}
{#    <script src="{% static 'waysafe/js/bootstrap.js' %}"></script>#}
</head>
<body>
<nav style = "background-color:#ECECEC">
  <div class="container">
    <div class="navbar-header">
      <a href = "#"><img src = "logoImage.png" alt="logo" width="106" height="50"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <span></span>
        <li><a class = "nav-button" href="#">Shop By Aisle</a>
        </li>
        <li> <a href="#" class="nav-button" >Shop By History <span></span></a>
        </li>
        <li> <a href="#" class="nav-button" >Online Savings <span></span></a>
        </li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right hidden-sm">
        <li><a href="#">My Account</a> </li>
		  <li> <a href="#" >Sign out<span></span></a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>