{% load staticfiles %}

<header>
    <nav>
        <div class="row">
            <img src="{% static 'resources/img/logows copy.png' %}" alt="WaySafe logo" class="logo">
            <img src="{% static 'resources/img/logows copy.png' %}" alt="WaySafe logo" class="logo-black">
            <ul class="main-nav js--main-nav">
                <input type="search" id="mySearch" placeholder="Search">
                <li><a href="#features">Shop by History</a></li>
                <li><a href="#works">Shop by Aisle</a></li>
                <li><a href="#cities">Online savings</a></li>
                <li><a href="#plans">Sign up</a></li>
            </ul>
            <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
        </div>
    </nav>

</header>
{% block body %}
{% endblock %}