<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
<style>

.dropdown
{
	float:left;
}
.dropdown .dropbtn
{
    border: none;
    outline: none;
    color: #ffffff;
    padding:5px 25px 10px 25px;
    background-color: #0055a2;
    width: 220px;
}
.dropdown:hover .dropbtn
{
    background-color: #7f7a7a;
	color:#ffffff;
}


.dropdown:hover
{
    display: block;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;

.help{
  font-size: 12px;
}

</style>

<!-- Bootstrap -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Omnifood is a premium food delivery service with the mission to bring affordable and healty meals to as many people as possible.">



        <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/normalize.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/grid.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/ionicons.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/animate.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'resources/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'resources/css/queries.css' %}">
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
        <title>WaySafe</title>

        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'resources/favicons/apple-touch-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'resources/favicons/apple-touch-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'resources/favicons/apple-touch-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'resources/favicons/apple-touch-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'resources/favicons/apple-touch-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'resources/favicons/apple-touch-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'resources/favicons/apple-touch-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'resources/favicons/apple-touch-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'resources/favicons/apple-touch-icon-180x180.png' %}">
        <link rel="icon" type="image/png" href="{% static 'resources/favicons/favicon-32x32.png' %}" sizes="32x32">
        <link rel="icon" type="image/png" href="{% static 'resources/favicons/favicon-194x194.png' %}" sizes="194x194">
        <link rel="icon" type="image/png" href="{% static 'resources/favicons/favicon-96x96.png' %}" sizes="96x96">
        <link rel="icon" type="image/png" href="{% static 'resources/favicons/android-chrome-192x192.png' %}" sizes="192x192">
        <link rel="icon" type="image/png" href="{% static 'resources/favicons/favicon-16x16.png' %}" sizes="16x16">
        <link rel="manifest" href="{% static 'resources/favicons/manifest.json' %}">
        <link rel="shortcut icon" href="{% static 'resources/favicons/favicon.ico' %}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="{% static 'resources/favicons/mstile-144x144.png' %}">
        <meta name="msapplication-config" content="{% static 'resources/favicons/browserconfig.xml' %}">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
{% block body %}




<body>

{%  include 'index/base_navBar.html' %}


<div class="row">
	<br><br>
        <h2>Coupons</h2>
    </div>

<section class="centered">
    <div class="container_12 clearfix" style="margin: 0 0 2% 5% ">
        <div style="width:260px; max-width: 100%; height: 300px; float: left; margin:  10px 20px 10px 20px; text-align: center; padding: 10px">
                    <img class="card-img-top" src="{% static '/resources/img/coupon.PNG' %}" alt="Card image cap" style="height: 200px; width:270px">
                    <div class="caption"><p style="color:#777777;">10% off for $50 purchase</p></div>
                            <div class="caption"><br>
                    <div class="dropdown"> <button type="button" id="myBtn" style="background-color:#0055A2; border: 1px solid #0055A2; color:#fff; border-radius:200px; padding:10px 30px">Apply coupon</button>
                    <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Coupon applied! </p>
  </div>
</div>


                    </div>
		</div>
                </div>
        <div  style="width:260px; max-width: 100%; height: 300px; float: left; margin:  10px 20px 10px 20px; text-align: center; padding: 10px">
                    <img class="card-img-top" src="{% static 'resources/img/coupon22.PNG' %}" alt="Card image cap" style="height: 200px; width:270px">
                    <div class="caption"><p style="color:#777777;">20% off for $200 purchase</p></div>
                            <div class="caption"><br>
                    <div class="dropdown"> <button type="button" id="myBtn2" style="background-color:#0055A2; border: 1px solid #0055A2; color:#fff; border-radius:200px; padding:10px 30px">Apply coupon</button>
                    <div id="myModal2" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Your order's total is below $200 </p>
  </div>
</div>
                    </div>
		</div>
                </div> <div  style="width:260px; max-width: 100%; height: 300px; float: left; margin: 10px 20px 10px 20px; text-align: center; padding: 10px">
                    <img class="card-img-top" src="{% static 'resources/img/coupon5.PNG' %}" alt="Card image cap" style="height: 200px; width:270px">
                    <div class="caption"><p style="color:#777777;">$5 off on Cookies & Snacks</p></div>
                            <div class="caption"><br>
                    <div class="dropdown"> <button type="button" id="myBtn3" style="background-color:#0055A2; border: 1px solid #0055A2; color:#fff; border-radius:200px; padding:10px 30px">Apply coupon</button>
                    <div id="myModal3" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>You don't have any Cookies & Snacks item in your cart. </p>
  </div>
</div>


                    </div>
		</div>
                </div> <div  style="width:260px; max-width: 100%; height: 300px; float: left; margin:  10px 20px 10px 20px; text-align: center; padding: 10px">
                    <img class="card-img-top" src="{% static 'resources/img/BOGO.PNG' %}" alt="Card image cap" style="height: 200px; width:270px">
                    <div class="caption"><p style="color:#777777;">Buy One Get One Free on Johnsons Baby Powder</p></div>
                            <div class="caption">
                    <div class="dropdown"> <button type="button" id="myBtn4" style="background-color:#0055A2; border: 1px solid #0055A2; color:#fff; border-radius:200px; padding:10px 30px">Apply coupon</button>
                    <div id="myModal4" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>You don't have Johnsons Baby Powder in you cart.</p>
  </div>
</div>

                    </div>
		</div>
                </div>
                </div>
</section>




{%  include 'index/base_footer.html' %}

<script>
// Get the modal
var modal = document.getElementById('myModal');
var modal2 = document.getElementById('myModal2');
var modal3 = document.getElementById('myModal3');
var modal4 = document.getElementById('myModal4');



// Get the button that opens the modal
var btn = document.getElementById("myBtn");
var btn2 = document.getElementById("myBtn2");
var btn3 = document.getElementById("myBtn3");
var btn4 = document.getElementById("myBtn4");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

btn2.onclick = function() {
    modal2.style.display = "block";
}

btn3.onclick = function() {
    modal3.style.display = "block";
}

btn4.onclick = function() {
    modal4.style.display = "block";
}


// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";

}

span2.onclick = function() {
    modal2.style.display = "none";

}

span3.onclick = function() {
    modal3.style.display = "none";

}

span4.onclick = function() {
    modal4.style.display = "none";

}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>

{% endblock %}
</html>